mat-card{
  padding: 1rem;
}

.home .title {
  font-size: 2rem;
  line-height: 1.2;
  padding-bottom: 1.2rem;
}

.home .subtitle {
  margin-top: 8px;
  font-size: 1.1rem;
}

.home .subtitle li {
  padding-bottom: 0.2rem;
}

.home .subtitle ul li a {
  text-decoration: none;
  color: grey;
}

.home .logo.small {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.home .subtitle .home-logo {
  vertical-align: -20%;
}