<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    <strong>Seja Bem-Vindo! 👋</strong>
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    <strong>Este é um sistema para cadastro de produtos criado com as tecnologias:</strong>
    <ul>
      <li>
        Front-end:   
        <img src="assets/img/angular.png" alt="Angular Logo" class="logo small"> Angular 
      </li>
      <li>
        Back-end:   
        <img src="assets/img/django.png" alt="Django Logo" class="logo small"> Django
      </li>
    </ul>
  </mat-card-subtitle>
  <mat-card-subtitle class="subtitle">
    <strong>Para conhecer o código-fonte do projeto, visite:</strong>
    <ul>
      <li><a href="https://github.com/lucasnatanmelo/mystore-frontend">🔗 https://github.com/lucasnatanmelo/mystore-frontend</a></li>
      <li><a href="https://github.com/lucasnatanmelo/mystore-backen">🔗 https://github.com/lucasnatanmelo/mystore-backend</a></li>
    </ul>
  </mat-card-subtitle>
  <mat-card-subtitle class="subtitle">
    <strong>
      👈 Navegue até 
      <i class="material-icons home-logo">
          storefront
      </i>
      Produtos 
    </strong>
  </mat-card-subtitle>
</mat-card>
